body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	color: gray;
}
h3 {
	font-size: 1.2rem;
    color: #6DB680;
}
.contentBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
}
.main {
   display: inline-flex;
   position: relative;
   height: 550px;
   width: 350px;
   margin-bottom: 200px;
   }
.image {
	position: absolute;
	width: 100%;
	top: 10%;
}
.words {
	position: absolute;
	left: 5%;
}
.buttonDiv {
	display: flex;
	position: absolute;
	width: 100%;
	top: 85%;
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
}
.next {
	margin: 0px;
	width: 35%;
	}
.next:hover {
	width: 37%;
}
.back {
	width: 35%;
}
.back:hover {
	width: 37%;
	}
#back1 {
	display: none;
}
#forward6 {
	display: none;
}
#p1text2 {
	top: 20%;
	left: 5%;
	margin-right: 50%;
}
#p2text2 {
	top: 20%;
	left: 5%;
	margin-right: 50%;
}
#p2text3 {
	top: 53%;
	margin-left: 40%;
	margin-right: 5%;
}
#p3text2 {
	top: 68%;
	margin-right: 5%;
	left: 5%;
}
#p4text2 {
	top: 13%;
	margin-right: 65%;
	left: 5%;
}
#p4text3 {
	top: 53%;
	margin-right: 30%;
	left: 30%;
}
#p5text2 {
	top: 50%;
	margin-right: 5%;
	left: 40%;
}
#p6text2 {
	top: 8%;
	left: 35%;
	margin-right: 5%;
}
#p6text3 {
	top: 58%;
	left: 5%;
	margin-right: 50%;
}
@media only screen and (min-width: 730px){
	#forward1, #p2text1, #back2, #p4text1, #forward3, #back4, #p6text1, #back5, #forward5 {
		display: none;
	}
	
}
@media only screen and (min-width: 1080px) {
	#forward2, #back3, #p3text1, #p5text1, #forward4{
		display: none;
	}
	#forward3 {
		display: block;
	}
	.main {
		margin-bottom: 0px;
	}
}
	